@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.{
    font-family: 'Lato', sans-serif;
}

.hr{
    
     margin-top: 8px;
    border-bottom: 1px solid black;
        gap: 5px;
        width:50%;
    
}









