@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.{
    font-family: 'Lato', sans-serif;
}

.hr{
        display: block;
        /* margin-bottom: 0.5em; */
        border-style: inset;
        border-width: 2px;
        border-bottom: 1px solid black;
}









